@charset "utf-8";
body {
	font-family: "Microsoft YaHei", Helvetica, Verdana, Arial, Tahoma;
	margin: 0;
	padding: 0;
}
html, body, div, form, p, ul, ol, li, hr, h1, h2, h3, h4, h5, h6, dl, dt, dd {
	margin: 0;
	padding: 0
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	list-style: none;
	font-weight: normal;
}
ul, ol {
	list-style: none;
}
.clear {
	clear: both;
}
input,select,textarea {
	cursor: pointer;
    font-family: "Microsoft YaHei", Helvetica, Verdana, Arial, Tahoma;
}
a {
     color: #4D8E1D;
     margin-right: 5px;
     text-decoration: none;
 }
img{border:0;}
/*input 基础样式*/
.a-input {
	display: block;
	background: #72b666;
	border: 1px solid #5fa053;
	border-radius: 3px;
	text-align: center;
	width: 70px;
	height: 30px;
	font-size: 14px;
}
.x-body {
	background: url(../images/bg.png);
}
.x-header {
	width: 100%;
	height: 60px;
	background: #2e3837;
	border-top: 2px #58605f solid;
	border-bottom: 2px solid #232b2a;
	box-shadow: 0 2px 0 #fff;
}
.x-header .headerDIV {
	width: 1180px;
	margin: 0 auto;
	background: #2e3837;
}
.x-logo {
	float: left;
	display: block;
	width: 180px;
	padding-top: 12px;
	padding-left: 10px;
}
.h-other {
	float: right;
}
.h-other ul {
	padding-top: 24px;
}
.h-other ul li {
	display: block;
	float: left;
	padding: 0 10px;
	color: #8d9999;
	font-size: 14px;
	line-height: 14px;
	height: 16px;
	border-right: 1px solid #8d9999;
}
.h-other ul li a {
	text-decoration: none;
}
.h-other ul li .a-info {
	color: #70cf29;
}
.h-other ul li .a-close {
	color: #ff0000;
}
.h-other ul .last{
    border-right: 0px;
}
/* */
.universal {
	padding-bottom: 30px;
}
.universal ul {
	padding-left: 30px;
	padding-top: 20px;
}
.universal li span, .universal ul li label {
	float: left;
	display: block;
	font-size: 15px;
	
}
.universal li {
	clear: both;
	height: 40px;
}
.universal li label {
	width: 120px;
	text-align: right;
	margin-right: 12px;
	line-height:28px;
}
.universal li span {
	margin-right: 10px;
}
.universal li input[type="text"],
.universal li input[type="password"],
.universal li select {
	display: inline-block;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s
}
.x-bthDIV {
     padding: 20px 30px 20px 159px;
     width: 100%;
 }
/* */
.x-section {
	width: 1180px;
	margin: 0 auto;
	margin-top: 20px;
}
.list-nav {
	margin-bottom: -1px;
}
.list-nav ul li {
	float: left;
	display: block;
	width: 132px;
	height: 39px;
	text-align: center;
	background: url(../images/tag.png);
	margin-right: 5px;
	line-height: 38px;
	cursor: pointer;
}
.list-nav ul li.nac {
	background: url(../images/tag_sec.png);
}
.list-nav ul li:hover{background: url(../images/tag_sec.png);}/* 20131128 */
.list-box {
	width: 1180px;
	background: #fff;
	border: 1px solid #d1d1d1;
}
.channel-path {
	color: #515151;
	font-size: 14px;
	padding: 15px;
}
.channel-path a {
	color: #515151;
	text-decoration: none;
}
.channel-path a:hover {
	text-decoration: underline;
}
/* */
.query-box {
	width: 1140px;
	background: #f9f9f9;
	margin: 0 auto;
	border: 1px solid #ededed;
}
.query-boxL, .query-boxR {
	float: left;
}
.query-boxL ul {
	width: 900px;
	padding-top: 20px;
}
.query-boxL ul li {
	float: left;
}
.query-boxL ul li span, .query-boxL ul li label {
	float: left;
}
.query-boxL ul li label {
	display: block;
	width: 120px;
	text-align: right;
	line-height: 32px;
}
.query-boxL ul li span {
	display: block;
	padding-top:3px\9;
	line-height: 20px;
}
.query-boxL ul li input[type="text"], .query-boxL ul li select {
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s
}
.date-x {
	background: url(../images/x-icn1.png) no-repeat right;
	padding-right: 10px;
}
.query-boxL ul li select {
	height: 30px;
	width: 105px;
}
.query-boxL ul li#list-box-bth {
	float: right;
	padding-right: 35px;
}
.query-boxR {
	border-left: 1px solid #ededed;
	height: 85px;
	padding-top: 25px;
	padding-left: 30px;
}
.query-boxR a {
	color: #000;
	text-decoration: none;
}
.inpWidth150 {
	width: 90px;
}
.inpWidth100 {
	width: 110px;
}
.inpWidth105 {
	width: 105px;
}
.inpWidth120 {
	width: 120px;
}
.inpWidth160 {
	width: 160px;
}
.inpWidth140 {
	width: 134px;
}
.inpWidth40 {
	width: 40px;
}
.lh28{line-height:28px;}
.a-x a {
	color: #30C;
	font-size: 14px;
}
.bth-lengh {
	padding: 10px 10px;
}
.query-boxR {
	line-height: 60px;
}
.qru {
}
.list-table {
	width: 1140px;
	margin: 10px auto;
}
.table_gzh {
    border-collapse: collapse;
    clear: both;
    margin: 0 auto;
}
.table_gzh tr {
    cursor: pointer;
}
.table_gzh tr th {
	background: #f9f9f9;
	font-size: 15px;
	font-weight: normal;
}
.table_gzh tr th{
	border: 1px solid #ededed;
	line-height: 40px;
}
.table_gzh tr td {
	border: 1px solid #ededed;
	color: #030;
	text-align: center;
	font-size: 14px;
	padding:7px 0;
	line-height:20px;
	vertical-align:middle;
}
.table_gzh tr th input, .table_gzh tr td input {
}
.table_gzh tr td .check-one {
	color: #4d8e1d;
}
.table_gzh .odd td {background:#FAFAFA;}
.table_gzh .hover td {background:#E6F2F9;}
.check-one {
	display: block;
	width: 60px;
	padding-left: 5px;
	text-align: left;
	line-height: 30px;
}
.check-one input, .check-one span {
	display: block;
	float: left;
}
.check-one input {
	margin-top: 10px;
	margin-top: 6px\9;
	margin-right: 5px;
}
.actionMenu {
	display: block;
	text-align: left;
	padding-left: 20px;
	margin: 0 auto;
}
.actionMenu a {
	color: #4d8e1d;
	text-decoration: none;
	margin-right: 5px;
}
.actionMenu a:hover {
	text-decoration: underline;
}
.actionMenu .gray{color:#D1D1B1;}
.list_bottom {
	padding: 2px 0;
}
.list_bottom li {
	display: block;
}
.list_bottom li.li-first {
	padding-top: 5px;
}
.list_bottom li.li-three {
	padding-left: 150px;
}
.list_bottom li.li-three a {
	margin-right: 5px;
	width: 15px;
	height: 15px;
	cursor: pointer;
	vertical-align: middle;
	line-height: 15px;
	margin-top: 12px;
	*margin-top: 10px;
	text-align:center;
}
.list_bottom li.li-three a img {
	margin: 0px;
	padding: 0px;
}
.list_bottom li.li-three span {
	margin-right: 5px;
	*line-height:40px;
}
.list_bottom li.li-three span input{*vertical-align:middle; *margin-top:5px;}
.list_bottom li.li-three span, .list_bottom li.li-three a {
	display: block;
	float: left;
}
.list_bottom li.li-last {
	padding-right: 15px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.ac {
	text-align: center;
}
.inputstyle {
	display: inline-block;
	height: 20px;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s
}
/* 基本回复 */
.x-CustomerInformation {
	height: 170px;
	text-align: center;
	font-size: 17px;
	color: #333;
	border-bottom: 1px solid #d1d1d1;
}

.Customer-logo{width:106px; height:106px; margin:17px auto;}
.Picture-bg{
	position: absolute;
	left: 42px;
	z-index: 11;
	top: 17px;
	width: 106px;
	height: 106px;
}
.green_498 {
	color: #498e00
}
.x-menu-l {
	font-size: 16px;
	color: #515151;
}
.x-menu-l dt, .x-menu-l dd {
	height: 40px;
	border-left: 1px solid #d1d1d1;
	border-right: 1px solid #d1d1d1;
}
.x-menu-l dt span, .x-menu-l dd span {
	display: block;
	border-top: 1px solid #fff;
	height: 38px;
	line-height: 38px;
}
.x-menu-l dt span {
	padding-left: 20px;
	border-bottom: 1px solid #d1d1d1;
	background: url(../images/x-icn.png) no-repeat right 0px;
}
.x-menu-l dd {
	background-color: #f9f9f9;
	cursor: pointer;
}
.x-menu-l dd span {
	padding-left: 35px;
	border-bottom: 1px solid #ededed;
}
.x-menu-l dd:hover, .x-menu-l dd.cur {
	border-left: 3px solid #6ad000;
	border-right: 1px solid #fff;
	background-color: #fff;
}
.x-menu-l dd span:hover, .x-menu-l dd.cur span {
	padding-left: 33px;
}
.gray_but, .gray_ipt_al {
	padding: 4px 17px;
	border: 1px solid #afafaf;
	color: #515151;
	font-size: 15px;
	background: #f2f3f3 url(../images/x-bg.png) 0px -42px repeat-x;
	border-radius: 4px;
	text-align: center;
	font-family: "Microsoft YaHei", Helvetica, Verdana, Arial, Tahoma;
}
.gray_ipt_al {
	padding: 4px 60px 4px 10px;
	text-align: left;
	width: 50px;
}
.two_triangle {
	background: #f2f3f3 url(../images/x-icn.png) no-repeat right -39px;
}
.x-list-li {
	font-size: 15px;
	padding: 8px 0px;
	min-height: 450px;
}
.x-list-li ul li {
	clear: both;
}
.x-list-li ul li span, .x-list-li ul li label,.x-list-li ol li span, .x-list-li ol li label {
	/*display: block;*/
	float: left;
}
.x-list-li li span {
	padding-left: 20px;
	max-width:500px;
	word-wrap:break-word;
	line-height:28px;
}
.x-list-li li label {
	line-height:28px;
}
.x-list-li ol {
	margin-left: 68px;
	overflow: hidden;
}
.x-list-li ol li {
	padding: 7px 0px;
	clear: both;
	
}
.x-list-li ul {
	border-top: 1px solid #ededed;
	margin-left: 65px;
	padding-top: 10px;
	margin-top:15px;
    overflow: hidden;
    padding-bottom: 15px;
}
.x-list-li ul li {
	padding: 10px 0px;
}
.x-list-li ul li img {
	vertical-align: top;
}
.x-list-li ul li label {
	width: 105px;
	text-align: right;
	display: inline-table;
}
.x-green_but {
	padding: 4px 17px;
	border: 1px solid #5ba04c;
	color: #fff;
	font-size: 15px;
	background: #70b861 url(../images/x-bg.png) 0px 0px repeat-x;
	border-radius: 4px;
	text-align: center;
	font-family: "Microsoft YaHei", Helvetica, Verdana, Arial, Tahoma;
}
.x-green_lenght {
	padding: 7px 60px;
	border: 1px solid #5ba04c;
	color: #fff;
	font-size: 15px;
	background: #70b861 url(../images/x-bg2.png) 0px 0px repeat-x;
	border-radius: 4px;
	text-align: center;
	font-family: "Microsoft YaHei", Helvetica, Verdana, Arial, Tahoma;
}
.section_box {
	border: 1px solid #d1d1d1;
	background-color: #f3f3f3;
	color: #515151;
	margin-bottom: 40px;
}
.x_aside {
	width: 188px;
	float: left;
	background: #f3f3f3;
	z-index: 2;
	position: relative;
	display: block;
	min-height: 620px;
}
.x_asideDIV {
	z-index: 4;
	position: absolute;
	top: 0;
	left: -1px;
	width: 190px;
	display: block;
}
.x_content {
	float: left;
	background-color: #fff;
	border-left: 1px solid #d1d1d1;
	min-height: 620px;
	width: 970px;
	padding: 10px;
}
.path-H {
	font-size: 17px;
	margin: 0px 10px;
	border-bottom: 1px solid #ededed;
	padding: 5px 5px 10px 5px;
	overflow:hidden;
}
.path-H span {
	display: block;
}
.path-H span:first-child {
	float: left;
	vertical-align: bottom;
	padding-top: 5px;
}
.path-H span:last-child {
	float: right;
}
#male label {
	display: -moz-inline-block;
	display: inline-block;
	cursor: pointer;
	margin: 5px 0;
	padding-left: 30px;
	line-height: 19px;
	background: url(../images/radio.png) no-repeat left bottom;
}
#male label.checked {
	background-position: left top;
}
.dn {
	display: none;
}
.x-l-p span {
	padding-left: 20px;
}
.inpWidth170, .inpWidth460 {
	width: 170px;
	padding-left: 3px;
	/*margin-left: 5px;*/
	border: 1px solid #cccccc;
	height: 30px;
	font: 15px/30px "Microsoft YaHei", SimSun, Tahoma, Verdana, Arial, sans-serif;
	outline: none;
	color: #333;
	box-shadow: 1px 1px 1px #ddd inset;
	border-radius: 4px;
}
.inpWidth460 {
	width: 460px;
}
.x-texttarea440 {
	width: 440px;
	vertical-align: top;
}
.x-dy,.x-tips {
	color: #a5a5a5;
	clear:both;
}
.x-tips{padding-left:115px;}
.x-assistant {
	position: absolute;
	width: 285px;
	color: #515151;
	background-color: #fff;
	border: 1px solid #ededed;
	top: 113px;
	right: 0px;
}
.x-assistant h5 {
	text-align: center;
	font-size: 15px;
	background: #f3f3f3;
	height: 40px;
	line-height: 40px;
	font-weight: 400;
	margin: 0px;
}
.x-assistant p {
	padding: 10px 15px;
	line-height: 25px;
	font-size: 14px;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
}
.x-assistant div {
	padding: 10px 15px;
}
.ac {
	text-align: center;
}
.butbox {
    padding-left: 162px;
	padding-top:30px;
}
.butbox13 {
    padding-left: 13px;
    padding-top:30px;
}
/* login */
.x-login {
	width: 100%;
	background: #000;
}
.x-loginBOX {
	width: 1200px;
	background: url(../images/x-loginBG.jpg) center no-repeat;
	height: 334px;
	margin: 0 auto;
	clear: both;
}
.login-BG {
	width: 390px;
	height: 270px;
	background: #FFF;
	float: right;
	margin: 30px 30px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: rgba(255,255,255,0.6);
}
.login-BG ul {
	padding-left: 30px;
	padding-top: 20px;
}
.login-BG ul li {
	margin-bottom: 15px;
	width: 320px;
}
.fz15 {
	font-size: 15px;
}
.login-inp span {
	display: block;
	margin: 0;
	padding: 0;
}
.login-inp span input {
	margin: 0;
	padding: 0;
	background-color: #fff;
}
.login-inp span:first-child input {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 1px solid #868f96;
}
.login-inp span {
	display: block;
}
.login-inp span:last-child input {
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom: 1px solid #868f96;
	border-top: 0;
	border-left: 1px solid #868f96;
	border-right: 1px solid #868f96;
}
.login-inp span input {
	padding: 12px 15px 12px 50px;
	width: 250px;
	font-size: 14px;
	color: #999;
}
.login-title {
	font-size: 24px;
}
.login_password {
	font-size: 15px;
	clear: both;
	padding-bottom: 25px;
}
.login_password span, .login_password a {
	display: block;
}
.login_password a {
	text-decoration: none;
}
.function-box {
	width: 1150px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	clear: both;
}
.function-box .function-title h2, .function-box .function-div span h2 {
	text-shadow: 1px 1px #fff;
}
.function-title {
	width: 1150px;
	margin: 0 auto;
	border-bottom: 1px solid #fff;
	margin-bottom: 20px;
}
.function-title h2 {
	width: 1120px;
	border-bottom: 1px solid #bfbfbf;
	display: block;
	background: url(../images/login_icon.png) 0 -436px no-repeat;
	height: 23px;
	padding-left: 30px;
	font-size: 24px;
	line-height: 24px;
	padding-bottom: 15px;
}
.function-div {
	width: 348px;
	height: 167px;
	float: left;
	padding-left: 15px;
	padding-top: 25px;
	margin-right: 10px;
	margin-left: 10px;
}
.function-div:hover {
	background: #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 6px #888888;
	-webkit-box-shadow: 2px 2px 6px #888888;
	box-shadow: 2px 2px 6px #888888;
}
.function-div span {
	display: block;
	float: left;
}
.function-div span h3 {
	display: block;
	height: 76px;
	width: 76px;
	margin: 0 auto;
}
.function-div span h2 {
	font-size: 24px;
}
.function-div span p {
	color: #7b7b7b;
	font-size: 14px;
	margin-top: 15px;
}
.function-icon {
	width: 110px;
	height: 93px;
	background: url(../images/login_icon.png) 0px -319px;
	padding-top: 17px;
	margin-top: 10px;
}
.function-div:hover .function-icon {
	background: url(../images/login_icon.png) 118px -319px;
}
.function-txt {
	width: 215px;
	margin-left: 8px;
}
.login-icon1 {
	background: url(../images/login_icon.png) 0 -15px;
}
.login-icon2 {
	background: url(../images/login_icon.png) 76px -15px;
}
.login-icon3 {
	background: url(../images/login_icon.png) 152px -15px;
}
.login-icon4 {
	background: url(../images/login_icon.png) 0 -91px;
}
.login-icon5 {
	background: url(../images/login_icon.png) 76px -91px;
}
.login-icon6 {
	background: url(../images/login_icon.png) 152px -91px;
}
.login-icon7 {
	background: url(../images/login_icon.png) 0px -167px;
}
.login-icon8 {
	background: url(../images/login_icon.png) 76px -167px;
}
.login-icon9 {
	background: url(../images/login_icon.png) 152px -167px;
}
.login-icon10 {
	background: url(../images/login_icon.png) 0 -243px;
}
.login-icon11 {
	background: url(../images/login_icon.png) 76px -243px;
}
.login-icon12 {
	background: url(../images/login_icon.png) 152px -243px;
}
.x-footer {
	width: 100%;
	border-top: 1px solid #bfbfbf;
	clear: both;
	background: url(../images/bg2.jpg);
}
.footer-box {
	width: 100%;
	border-top: 1px solid #fff;
	padding: 30px 0;
}
.footer-box ul {
	width: 1100px;
	margin: 0 auto;
	padding-left: 20px;
}
.footer-box ul li {
	float: left;
	font-size: 13px;
	line-height: 20px;
}
.x-address {
	margin-left: 70px;
	margin-right: 70px;
}
.x-address address {
	font-style: normal;
}
.footer-a {
	margin-right: 20px;
}
.footer-a a img {
	vertical-align: middle;
}
.footer-a a {
	color: #000;
	text-decoration: none;
}
.footer-a a:hover {
	color: #333;
	text-decoration: underline;
}
.ml-40 {
	margin-left: 40px;
}
.login-id {
	background: url(../images/passBG1.jpg) no-repeat left;
}
.login-password {
	background: url(../images/passBG2.jpg) no-repeat left;
}
.login-already {
	width: 1150px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.loginInfo-box, .purview-box {
	height: 290px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 1px 1px 15px #999999;
	float: left;
}
.loginInfo-box {
	width: 235px;
	margin-right: 40px;
}
.purview-box {
	width: 200px;
	margin-right: 22px;
}
.purview-box h2 {
	font-size: 20px;
	color: #515151;
	text-align: center;
	padding-top: 40px;
}
.loginInfo-box h2 {
	font-size: 24px;
	color: #515151;
	text-align: center;
	padding-top: 20px;
}
.loginInfo-box ul {
	padding-top: 10px;
	padding-left: 15px;
}
.loginInfo-box ul li span, .loginInfo-box ul li label {
	float: left;
	display: block;
	font-size: 15px;
	line-height: 30px;
}
.loginInfo-box ul li {
	clear: both;
	margin-bottom: 0px;
}
.loginInfo-box ul li label {
	width: 60px;
	text-align: right;
	margin-right: 6px;
}
.loginInfo-box ul li span {
	line-height: 32px;
	margin-right: 10px;
}
.loggin-bth {
	padding-right: 20px;
	padding-top: 20px;
}
.purview-box ul {
	padding-left: 15px;
	padding-top: 20px;
}
.purview-box ul li {
	padding: 5px 0;
}
.purview-box ul li a {
	margin-right: 10px;
}
.purview-box ul li a img {
	vertical-align: middle;
}
.purview-box ul li input {
	padding: 4px 0;
	width: 100px;
	text-align: center;
	border: 1px solid #afafaf;
	color: #515151;
	font-size: 15px;
	background: #f2f3f3 url(../images/x-bg.png) 0px -42px repeat-x;
	border-radius: 4px;
	text-align: center;
	font-family: "Microsoft YaHei", Helvetica, Verdana, Arial, Tahoma;
}
/* 自定义菜单 */
.table_zdy th {
	background-color: #f3f3f3;
	font-size: 15px;
	font-weight: normal;
}
.inpWidth310 {
	width: 310px;
	text-indent: 10px;
}
.inpWidth190 {
	width: 190px;
	text-indent: 10px;
}
.table_zdy {
	border-collapse: collapse;
	clear: both;
	margin: 10px auto;
	width: 940px;
}
.table_zdy tr th {
	border: 1px solid #d1d1d1;
	line-height: 40px;
}
.table_zdy tr td {
	color: #030;
	font-size: 14px;
	border: 1px solid #d1d1d1;
	padding: 5px;
	height: 33px;
	line-height: 20px;
	text-align: center;
}
.table_zdy tr td label {
	padding: 0px;
	line-height: 20px;
	height: 33px;
	margin: 0px;
}
.table_zdy tr td span.ar {
	text-align: right;
	display: block;
}
.table_zdy tr td span.ar label {
	padding-right: 7px;
}
.table_zdy .actionMenu {
	text-align: center;
}
.table_zdy tfoot td {
	text-align: left;
}
.table_zdy tr td span.ar label.chart_level {
	padding: 5px 35px;
	color: #fff;
	background: url(../images/x-icn.png) no-repeat left -85px;
	vertical-align: -7px;
}
.graya5a {
	color: #a5a5a5;
}
.pt20 {
	padding-top: 20px;
}
.table_zdy .inputstyle{
	display: inline-block;
	padding: 4px 6px;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s
}
/* select下拉 */
.cb_select {
	width: auto;
	clear: both;
	position: relative;
	font-size: 15px;
	text-transform: uppercase;
	display: inline-table;
	vertical-align: top;
}
.cb_select .cb_selectMain {
	width: 90px;
	color: #515151;
	border: 1px solid #afafaf;
	background-color: #f2f3f3;
	background-repeat: no-repeat;
	cursor: pointer;
	text-align: left;
	padding: 4px;
	text-indent: 10px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
	text-shadow: 1px 1px 1px #fff;
	border-radius: 4px;
	font-family: "Microsoft YaHei", Helvetica, Verdana, Arial, Tahoma;
	word-wrap: break-word;
	word-break: normal;
}
.cb_down {
	background: url(../images/x-icn.png) no-repeat right -39px;
}
.cb_up {
	background: url(../images/x-icn.png) no-repeat right -39px;
}
.cb_selectWrapper {
	width: 102px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
	max-height: 150px;
	border: 1px solid #ddd;
	background-color: #fff;
	margin: 29px 0px 0px 0px;
	-moz-box-shadow: 0px 0px 2px #333 inset;
	-webkit-box-shadow: 0px 0px 2px #333 inset;
	box-shadow: 0px 0px 2px #333 inset;
}
.cb_selectWrapper dl {
	list-style: none;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
.cb_selectWrapper dl dd a {
	text-decoration: none;
	cursor: pointer;
	display: block;
	padding: 3px 0px;
	text-indent: 10px;
	letter-spacing: 1px;
	color: #777;
	text-shadow: 1px 1px 1px #fff;
}
.cb_selectWrapper dl dd a:hover {
	background-color: #616161;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
.cd_box {
	top: 0;
	left: 0;
	position: absolute;
	display: none;
}
.position-r {
	position: relative;
}
/* 条件查询 */
.query-list {
	width: 98%;
	background: #f9f9f9;
	margin: 20px auto;
	border: 1px solid #ededed;
}
.query-list ul {
	width: 100%;
	padding-top: 20px;
}
.query-list ul li {
	float: left;
}
.query-list ul li span, .query-list ul li label {
	float: left;
}
.query-list ul li label {
	display: block;
	padding-left:35px;
	text-align: right;
	line-height: 32px;
}
.query-list ul li span {
	display: block;
	line-height: 20px;
}
.query-list ul li input[type="text"],
.query-list ul li select,
.x-list-li ol li select
{
	display: inline-block;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 15px;
	line-height: 20px;
	color: #555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s
}
.query-list ul li select {
	height: 30px;
	width: 105px;
}
.query-list ul li#list-box-bth {
	float: right;
	padding:15px 50px;
}

/* 遮罩层 */
.mask-div {
	width: 500px;
	border: 1px solid #ededed;
	background: #fff;
	font-size: 14px;
	display: none;
	top: 50%;
	left: 50%;
	z-index: 10000;
	position: absolute;
}
.mask-div h3 {
	width: 100%;
	border-bottom: 1px solid #ededed;
	padding: 10px 0;
	background: #f9f9f9;
	font-size: 18px;
	text-align: center;
}
.mask-div .warm {
	padding: 50px 0px;
	font-size: 16px;
	text-align: center;
}
.mask-div600 {
	width: 600px;
	border: 1px solid #ededed;
	background: #fff;
	font-size: 14px;
	display: none;
	top: 50%;
	left: 50%;
	z-index: 10000;
	position: absolute;
    min-height:400px;
    max-height:650px;
    overflow-y:auto;
    overflow-x:hidden;
}
.mask-div600 h3 {
	width: 100%;
	border-bottom: 1px solid #ededed;
	padding: 10px 0;
	background: #f9f9f9;
	font-size: 18px;
	text-align: center;
	margin-bottom: 15px;
}
.warm img {
	vertical-align: middle;
	margin-right: 20px;
}
.mask-input {
	padding: 20px 0;
	text-align: center;
	border-top: 1px solid #ededed;
}
.mask-input input {
	margin: 0 15px;
}
.height40 {
	min-height: 270px;
}
.mask-div750 {
    width: 750px;
    border: 1px solid #ededed;
    background: #fff;
    font-size: 14px;
    display: none;
    top: 50%;
    left: 50%;
    z-index: 10000;
    position: absolute;
    min-height:400px;
    max-height:650px;
    overflow-y:auto;
    overflow-x:hidden;
}
.mask-div750 h3 {
    width: 100%;
    border-bottom: 1px solid #ededed;
    padding: 10px 0;
    background: #f9f9f9;
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
}

/**/
.universal_1 {
	padding-bottom: 30px;
}
.universal_1 ul {
	padding-left: 30px;
	padding-top: 20px;
}
.universal_1 li span, .universal_1 ul li p {
	float: left;
	/*display: block;*/
	font-size: 15px;
	
}
.universal_1 li {
	clear: both;
	height: 40px;
}
.universal_1 li a{line-height:26px;}
.universal_1 li p {
	width: 120px;
	text-align: right;
	margin-right: 12px;
	line-height:28px;
}
.universal_1 li span {
	margin-right: 10px;
}
.universal_1 li input[type="text"],
.universal_1 li input[type="password"],
.universal_1 li select,
.universal li select {
	display: inline-block;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s
}
.universal_1 li .link {
    margin-left: 40px;
}

/* 用户对话 */
.wx-Dialog {
	width: 900px;
	margin: 0 auto;
	padding-top: 30px;
}
.client_Dialog, .Merchant_Dialog {
	clear: both;
	margin-bottom: 20px;
	width: 900px;
}
.client_Dialog ol li {
	float: right;
}
.client-txt, .client-pic {
	display: block;
	float: left;
}
.client-txt{
	border:1px solid #a7a6a4;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	padding:20px;
	background:#e3e3e3;
	width:auto;
	max-width:250px;
	-webkit-box-shadow: inset 0 2px 2px rgba(255,255,255,0.75);
	-moz-box-shadow: inset 0 2px 2px rgba(255,255,255,0.75);
	box-shadow: inset 0 2px 2px rgba(255,255,255,0.75);
	}
.client-pic {
	padding-top: 20px;
	margin-left: -3px;
	padding-right: 10px;
}
.Merchant_Dialog ul li {
	float: left;
}
.Merchant-txt, .Merchant-pic {
	display: block;
	float: left;
}
.Merchant-txt{
	border:1px solid #829647;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	padding:20px;
	width:auto;
	max-width:250px;
	background:#b4e24b;
	-webkit-box-shadow: inset 0 2px 2px rgba(255,255,255,0.75);
	-moz-box-shadow: inset 0 2px 2px rgba(255,255,255,0.75);
	box-shadow: inset 0 2px 2px rgba(255,255,255,0.75);
	}
.Merchant-pic {
	padding-top: 20px;
	margin-right: -2px;
	position: relative;
	z-index: 111;
	padding-left: 10px;
}
.page404 {
	width: 331px;
	height: 269px;
	background: url(../images/404page.png) no-repeat;
	font-size: 14px;
	margin: 10% auto;
}
.page404 h2, .page404 span {
	display: block;
}
.page404 h2 {
	font-size: 90px;
	font-weight: bold;
	text-align: center;
	color: #da4839;
	padding-top: 20px;
}
.page404 div {
	background: #000;
	width: 160px;
	margin: 0 auto;
	text-align: center;
	color: #FFF;
	line-height: 26px;
	line-height: 26px;
}
.page404 span {
	text-align: center;
	padding-top: 30px;
}
.page404 span a {
	color: #2892e0;
}
/*------------------遮罩层背景  ------------------------*/
.divpop {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .65;
    z-index: 9999;
}
/*--Making IE6 Understand Fixed Positioning--*/
*html .divpop {
    position: absolute;
}
*html .popup_block {
    position: absolute;
}

.success{margin-left:10px;color:#287903;}
.fail{margin-left:10px;color:#ff344d;}
.universal li span.tips,
.tips
{font-size: 12px;color:#ccc;line-height:30px;}
#oDiv {
    width: 440px;
    height:150px;
    vertical-align: top;
    border:solid 1px #a5a5a5;
}
/**/
.x-list-liUP {
    font-size: 15px;
    padding: 8px 0px;
    min-height: 450px;
}
.x-list-liUP ul li {
    clear: both;
}
.x-list-liUP ul li span, .x-list-liUP ul li label {
    display: block;
    float: left;
}
.x-list-liUP li label {
    width: 120px;
    text-align: right;
    margin-right: 12px;
    line-height: 28px;
}
.x-list-liUP ol {
    margin-left: 50px;
}
.x-list-liUP ol li {
    padding: 7px 0px;
}
.x-list-liUP ul {
    border-top: 1px solid #ededed;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
    overflow: hidden;
    padding-bottom: 15px;
}
.x-list-liUP ul li {
    padding: 10px 0px;
}
.x-list-liUP ul li img {
    vertical-align: top;
}
/**/

/* 20131209 */
.Width460 {
	width: 460px;
}
#insertLink{line-height:30px;}

.ckeTXT div[id=cke_Content],.ckeTXT span[id=cke_Content]{margin-top:5px;}
.ckeTXT div[class~=cke_inner],.ckeTXT span[class~=cke_inner]{width:445px;}
.ckeTXT span[id=cke_1_top]{float:none;margin:0;}
.ckeTXT span[id=cke_1_contents]{width:100%;}
#textEdit span{padding-left:2px;}